.filter {
    margin-right: 90px;
}

.filter_fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter__price {
    margin-bottom: 35px;
}

.filter__name {
    margin: 0;
    padding: 0;
    width: 215px;
    font-weight: bold;
}

.filter__price_min,
.filter__price_max {
    width: 100px;
    height: 24px;
    margin-right: 10px;
    margin-top: 20px;
    outline: none;
}

.filter__price_max {
    margin: 0;
}

.filter__buttons {
    display: flex;
    flex-direction: column;
}

.filter__apply,
.filter__reset {
    width: 185px;
    margin-top: 15px;
    padding: 15px 36px 17px 36px;
    border: 2px solid #FAC663;
    outline: none;
    font-style: 14px;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.filter__apply {
    margin-top: 20px;
    background-color: #FAC663;
}

.filter__reset:hover {
    background-color: #ffcd70;
    color: white;
}

