.catalog-filter-activator {
    display: none;
}

#filter:checked ~ .sidebar {
    max-width: 100%;
    left: 0;
    transition: max-width 1s ease;
}

@media screen and (max-width: 800px) {
    #filter:checked ~ .sidebar {
        left: 0;
    }

    #filter:checked ~ .sidebar .filter {
        left: 0;
    }

    #filter:checked ~ .sidebar .sidebar__close {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 550px) {
    .sidebar {
        margin-top: 62px;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        position: fixed;
        width: 100%;
        top: 0px;
        left: -100%;
        overflow: auto;
        height: 100vh;
        overscroll-behavior: none;
        z-index: 8;
        transition: left 1s ease;
    }
}

.filter {
    margin-right: 90px;
}

@media screen and (max-width: 800px) {
    .filter {
        position: absolute;
        top: 0;
        left: -100%;
        min-height: 100%;
        background-color: #FFFEFD;
        padding-left: 30px;
        transition: left 0.5s ease;
        width: 270px;
    }
}

.filter__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter__price {
    margin-top: 30px;
    margin-bottom: 35px;
}

.filter__name {
    margin: 0;
    padding: 0;
    width: 215px;
    font-weight: bold;
}

.filter__price_min,
.filter__price_max {
    width: 100px;
    height: 24px;
    margin-right: 10px;
    margin-top: 20px;
    outline: none;
}

.filter__price_max {
    margin: 0;
}

.filter__buttons {
    display: flex;
    flex-direction: column;
}

.filter__apply,
.filter__reset {
    width: 185px;
    margin-top: 15px;
    border: 2px solid #FAC663;
    outline: none;
    font-size: 0.875rem;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.filter__reset {
    padding: 15px 30px 16px 30px;
    margin-bottom: 20px;
}

.filter__apply {
    margin-top: 20px;
    background-color: #FAC663;
    padding: 15px 36px 16px 36px;
}

.filter__reset:hover {
    background-color: #ffcd70;
    color: white;
}

.sidebar__close {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    overscroll-behavior: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: -1;
    visibility: hidden;
}

@media screen and (min-width: 800px) {
    .sidebar__close {
        display: none;
    }
}