*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --main-color-300: #ffcd70;
    --main-color-400: #fac663;
    --main-color-700: #ff6600;
}

body {
    position: relative;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: black;
    background-color: #FFFEFD;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Rubik", sans-serif;
}

img {
    max-width: 100%;
}