*, *::before, *::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: black;
    background-color: #FFFEFD;
}

@media screen and (max-width: 550px) {
    body {
        padding-top: 62px;
    }
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Rubik", sans-serif;
}

img {
    max-width: 100%;
}