include ../booking-button/booking-button.pug

mixin banner-2
    <div class="banner-2">
        <div class="positioner">
            <div class="info-banner">
                <p class="free-day">Каждый 7-й день <span>бесплатно!</span></p>
                <p class="stock">Акция действует при размещении в номерах “Люкс” и “Супер-Люкс”</p>
                +booking-button
            </div>
        </div>
    </div>