.banner-2 {
    position: relative;
    height: 379px;
    margin-top: 140px;
    margin-bottom: 140px;
    padding-top: 66px;
    background-image: url("banner-2.jpg");
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
}

.banner-2::before {
    position: absolute;
    left: -20px;
    top: -30px;
    width: 240px;
    height: 240px;
    padding: auto;
    background-image: url("./icons/paw-banner.svg");
    background-repeat: no-repeat;
    content: "";
}

.banner-2__info {
    margin-left: 270px;
}

.title__banner-2 {
    text-align: left;
}

.banner-2__free-day {
    display: block;
    font-size: 3.5rem;
    margin: 0;
    line-height: 0.85;
    padding: 0;
}

.banner-2__stock {
    width: 260px;
    margin-top: 25px;
    margin-bottom: 0;
    padding: 0;
}

.banner-2__booking-button {
    margin-top: 35px;
}