@import "header-footer.css";
@import "banner.css";
@import "positioner.css";
@import "advantages.css";
@import "rooms.css";
@import "reviews.css";
@import "contacts.css";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
}
