.banner {
    background-size: cover;
    background-image: url("./cat.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}

.banner__info {
    display: block;
    padding-top: 11.3417%;
    padding-bottom: 11.3417%;
}

.banner__city {
    font-size: 0.575rem;
    margin-bottom: 15px;
}

@media screen and (min-width: 769px) {
    .banner__city {
        font-size: 0.875rem;
    }
}

.banner__desc {
    margin-top: 1.830161054172767%;
    padding: 0;
    width: 55%;
    font-size: 0.75rem; /* 1.25 */
    font-weight: 500;
}

@media screen and (min-width: 769px) {
    .banner__desc {
        font-size: 1.25rem;
    }
}

.banner__button {
    margin-top: 3.418803418803419%;
    transform: scale(0.65);
    transform-origin: top left;
}

@media screen and (min-width: 425px) {
    .banner__button { 
        transform: scale(0.75);
    }
}

@media screen and (min-width: 550px) {
    .banner__button { 
        transform: scale(0.85);
    }
}

@media screen and (min-width: 768px) {
    .banner__button { 
        transform: scale(1);
    }
}
