.banner {
    background-size: cover;
    background-image: url("./cat.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}

.banner__info {
    display: block;
    padding-top: 11.3417%;
    padding-bottom: 11.3417%;
}

.banner__city {
    font-size: 0.875rem;
    margin-bottom: 15px;
}

.banner__desc {
    margin-top: 25px;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner__button {
    margin-top: 40px;
}