mixin banner
    <div class="banner">
        <div class="info positioner narrow">
            <span class="city">Санкт-Петербург</span>
            <h1>Котейка</h1>
            <p>Уютная гостиница для котов и кошек</p>
            <button>Забронировать</button>
        </div>
    </div>