include ../booking-button/booking-button.pug

mixin banner
    <article class="banner">
        <div class="positioner banner__info positioner_narrow">
            <span class="banner__city">Санкт-Петербург</span>
            <h1 class="title title_1">Котейка</h1>
            <p class="banner__desc">Уютная гостиница для котов и кошек</p>
            +booking-button("banner__button")
        </div>
    </article>