.catalog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 60px;
}

.catalog-header__title_main {
    font-size: 36px;
    margin: auto 0;
}

