.catalog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 70px;
}

.catalog-header h1 {
    font-size: 36px;
    margin: auto 0;
}

