include ../catalog-select/catalog-select.pug

mixin catalog-header 
    <div class="catalog-header positioner">
        <h1 class="catalog-header__title_main">Наши номера</h1>
        +catalog-select
    </div>