.reviews {
    position: relative;
    padding-top: 11.111111%;
    overflow-x: hidden;
}

.reviews__positioner {
    position: relative;
    padding-bottom: 2.735%;
}

.reviews__positioner::before {
    position: absolute;
    top: -31.8119%;
    right: -11.1111111%;
    background-image: url("./icons/background-lapa-2.svg");
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    content: "";
}

.title__reviews {
    margin-bottom: 5.9829%;
}

.reviews__review {
    display: flex;
    /* 
    100% - ширина позиционера
    100вв - ширина окна
    16пкс - ширина вертикальной прокртуки
    */
    width: calc(100% + (100vw - 100%) / 2);
    transition: transform 1s ease;
}

.reviews__info {
    flex-shrink: 0;
    padding-left: 2.77%;
    padding-top: 2.77%;
    margin-right: 2.4%;
    margin-bottom: 4.35%;
    padding-right: 3%;
    width: 37.0662%;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}

.reviews__quote {
    position: relative;
    margin: 0;
    padding-left: 8.85%;
}

.reviews__quote::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 25px;
    background-image: url("./icons/“.svg");
    background-repeat: no-repeat;
    content: "";
}

.reviews__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 35px;
    font-size: 0.875rem;
    color: #848484;
}