mixin reviews
    <div class="reviews" id="reviews">
        <div class="positioner">
            <button class="left">&lt;</button>
            <button class="right">&gt;</button>
            <input type="radio" name="slider-review" id="btn-4" checked>
            <input type="radio" name="slider-review" id="btn-5">
            <input type="radio" name="slider-review" id="btn-6">
            <h2>Отзывы</h2>
            <div class="review">
                <div class="info">
                    <blockquote>
                        | Первый раз пришлось оставить моего Рыжика
                        | в гостинице, очень переживал. Администратор Зухра каждый день высылала нам фото нашего питомца, рассказывала, как он себя чувствует.
                        | И я и Рыжик остались очень довольны!
                        <footer>
                            <span>Иван Подгорнов</span>
                            <time datetime="2020-10-12">12 октября, 2020</time>
                        </footer>
                    </blockquote>
                </div>
                <div class="info">
                    <blockquote>
                        | Гостиницу для питомцев нам посоветовали друзья. Они всегда оставляют здесь своего кота, когда уезжают. 
                        | В “Котейке” очень хорошо заботятся о питомцах, в гостинице очень чисто. Всем рекомендую! Будем обращаться еще.
                        <footer>
                            <span>Екатерина Минаева</span>
                            <time datetime="2020-05-24">24 мая, 2020</time>
                        </footer>
                    </blockquote>
                </div>
                <div class="info">
                    <blockquote>
                        | Мой кот — настоящая привереда, угодить ему сложно. 
                        | У меня были особые требования к уходу за ним, и “Котейка” отлично справились. 
                        | Я часто наблюдал по видео за питомцем со своего телефона, это очень удобно. 
                        <footer>
                            <span>Павел Нечаев</span>
                            <time datetime="2020-04-24">24 апреля, 2020</time>
                        </footer>
                    </blockquote>
                </div>
            </div>
            <div class="radio-button">
                <label for="btn-4"></label>
                <label for="btn-5"></label>
                <label for="btn-6"></label>
            </div>
        </div>
    </div>