<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        include ../components/header/header.pug
        include ../components/footer/footer.pug
        include ../components/catalog-header/catalog-header.pug
        include ../components/catalog-container/catalog-container.pug
        include ../components/banner-2/banner-2.pug
        include ../components/booking/booking.pug
        include ../components/complete/complete.pug

    </head>
    <body>
        +header
        <main>
            +booking
            +complete
            +catalog-header
            +catalog-container
            +banner-2
        </main>
        +footer
    </body>
</html>