<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        include ../components/header/header.pug
        include ../components/footer/footer.pug
        include ../components/rooms/rooms.pug
        include ../components/room-info/room-info.pug
        include ../components/booking/booking.pug
        include ../components/complete/complete.pug

    </head>
    <body>
        +header
        <main>
            +booking
            +complete
            +room-info
            +rooms("Другие номера")
        </main>
        +footer
    </body>
</html>
