include ../components/page/page.pug
include ../components/rooms/rooms.pug
include ../components/room-info/room-info.pug
include ../components/booking/booking.pug
include ../components/complete/complete.pug

+page("Номер")
    +booking
    +complete
    +room-info
    +rooms("Другие номера")