.room-option {
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.room-option:not(:nth-of-type(3n)) {
    margin-right: 24px;
}

.room-option__cat {
    display: block;
    margin: -1px;
    margin-bottom: 20px;
}

.room-option__card-info {
    padding-left: 20px;
    padding-bottom: 25px;
}

.room-option__title {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.room-option__key,
.room-option__value {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.room-option__info  {
    margin-bottom: 11px;
    margin-top: 0;
}

.room-option__value_img {
    padding-right: 6px;
}

.room-option__value_img:first-of-type {
    margin-left: 12px;
}

.room-option__price {
    margin-bottom: 25px;
    margin-top: 0;
}

.room-option__text_bold {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.room-option__booking-button {
    width: calc(100% - 20px);
}