.room-option {
    display: inline-block;
    margin-bottom: 3.469900922762319%;
    border-radius: 10px;
    width: 110%;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.room-option__cat {
    display: block;
    margin-left: -1px;
    margin-top: -1px;
    margin-bottom: 20px;
    min-width: calc(100% + 2px);
}

@media screen and (min-width: 1200px) {
    .room-option__cat {
        border-radius: 5px 5px 0 0;
        min-height: 186px;
    }
}

.room-option__card-info {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    white-space: nowrap;
}

.room-option__title {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.room-option__key,
.room-option__value {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
}

.room-option__info  {
    margin-bottom: 11px;
    margin-top: 0;
}

.room-option__img {
    padding-right: 5px;
}

.room-option__img:first-of-type {
    margin-left: 12px;
}

.room-option__price {
    margin-bottom: 25px;
    margin-top: 0;
}

.room-option__text-bold {
    font-size: 18px;
    font-weight: bold;
}

.room-option__booking-button {
    display: block;
    text-align: center;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 500px) {
    .room-option__booking-button {
        font-size: 0.80rem;
    }
}

@media screen and (min-width: 550px) {
    .room-option__booking-button {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1250px) {
    .room-option__booking-button {
        font-size: 1rem;
    }
}