.room-info {
    position: relative;
    max-width: 100%;
    padding-top: 70px;
    overflow: hidden;
}

.room-info__container {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.room-info__container::after {
    position: absolute;
    top: -50px;
    display: inline-block;
    right: -130px;
    width: 251px;
    height: 285px;
    background-image: url("./icons/background-lapa-3.svg");
    background-repeat: no-repeat;
    content: "";
}

.room-info__about {
    margin-left: 70px;
}

.title__room-info {
    margin-bottom: 22px;
}

.room-info__text {
    margin: 0;
    margin-top: 17px;
    padding: 0;
}

.room-info__text:last-of-type {
    margin-top: 24px;
    margin-bottom: 30px;
}

.room-info__features {
    margin: 0;
    margin-top: 13px;
    padding: 0;
    list-style: none;
}

.room-info__list {
    position: relative;
    padding-left: 20px;
    margin-top: 9px;
}

.room-info__price {
    margin-left: 12px;
    font-size: 1.125rem;
    font-weight: bold;
}

.room-info__title_main,
.room-info__text,
.room-info__list {
    color: #1a212f;
}

.room-info__list::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
}

.room-info__lounger::before {
    background-image: url("./icons/lounger.svg");
}

.room-info__house::before {
    background-image: url("./icons/house.svg");
}

.room-info__game-complex::before {
    background-image: url("./icons/game\ complex.svg");
}

.room-info__scratching-post::before {
    background-image: url("./icons/scratching\ post.svg");
}

