include ../gallery/gallery.pug
include ../booking-button/booking-button.pug

mixin room-info
    <div class="room-info">
        <div class="room-info_container positioner">
            +gallery
            <div class="room-info__about">
                <h2 class="room-info__title_main">Супер-Люкс</h2>
                <p class="room-info__text">Размеры (ШхГхВ) - 180х160х180 см</p>
                <p class="room-info__text">Площадь - 2,88 м2</p>
                <p class="room-info__text">Оснащение номера</p>
                <ul class="room-info__features">
                    <li class="room-info__list room-info__lounger" id="btn-7">Лежак</li>
                    <li class="room-info__list room-info__house">Домик</li>
                    <li class="room-info__list room-info__game-complex">Игровой комплекс - 3 яруса</li>
                    <li class="room-info__list room-info__scratching-post">Когтеточка</li>
                </ul>
                <p class="room-info__text">Цена за сутки: <span class="room-info__price">600₽</span></p>
                +booking-button("primary")
            </div>
        </div>
    </div>