mixin slider(offset, tag)
    <div class="slider" data-offset="#{offset}" data-tag="#{tag}">
        <button class="slider__button slider__button_prev">&lt;</button>
        <button class="slider__button slider__button_next">&gt;</button>
        block
        <div class="slider__container">
            <button class="slider__toggler slider__toggler_check"></button>
            <button class="slider__toggler"></button>
            <button class="slider__toggler"></button>
        </div>
    </div>