.select {
    position: relative;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18); 
}

.select:focus {
    outline: none;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18); 
    z-index: 10;
}

.select:focus .select__options .select__option {
    display: block;
}

.select,
.select__option {
    border-radius: 25px;
    transition: border-radius 0.1s ease;
}

.select:focus,
.select:focus .select__option {
    border-radius: 0;
}

.select::after {
    position: absolute;
    top: 19px;
    right: 20px;
    width: 15px;
    height: 10px;
    background-image: url("./icons/select-inactive.svg");
    background-repeat: no-repeat;
    transition: transform 0.2s linear;
    transform-origin: center;
    z-index: 3;
    content: "";
}

.select:focus::after {
    transform: rotate(180deg) translateY(2px);
}

.select__option {
    position: relative;
    display: none;
    padding: 12px 55px 13px 30px;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    background-position: 20px 17px;
    background-repeat: no-repeat;
}

.select__option_no-chosen {
    display: block;
}

.select__option:hover {
    background-color: lightgray;
}

.select__option_desc {
    background-image: url("./icons/arrow-down.svg");
}

.select__option_asc {
    background-image: url("./icons/arrow-up.svg");
}

.select__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: inherit; 
    z-index: 2;
}

.select__toggler {
    display: none;
}

.select__toggler:checked + .select__option {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block; 
}
