mixin catalog-select
    <div class="select" tabindex="0">
        <div class="select__option select__option_no-chosen">Не выбрано</div>
        <div class="select__options">
            <label>
                <input type="radio" name="catalog-select" class="select__toggler">
                <div class="select__option select__option_asc">По площади</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="select__toggler">
                <div class="select__option select__option_desc">По площади</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="select__toggler">
                <div class="select__option select__option_asc">По цене</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="select__toggler">
                <div class="select__option select__option_desc">По цене</div>
            </label>
        </div>
    </div>