mixin catalog-select
    <div class="select" tabindex="0">
        <div class="option no-chosen">Не выбрано</div>
        <div class="options">
            <label>
                <input type="radio" name="catalog-select" class="option-toggler">
                <div class="option asc">По площади</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="option-toggler">
                <div class="option desc">По площади</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="option-toggler">
                <div class="option asc">По цене</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="option-toggler">
                <div class="option desc">По цене</div>
            </label>
        </div>
    </div>