mixin catalog-select
    <div class="select" tabindex="0">
        <div class="select__option select__option_no-chosen">Не выбрано</div>
        <div class="select__options">
            <label>
                <input type="radio" name="catalog-select" class="select__toggler">
                <div class="select__option select__option_asc select__sorting" data-sort="asc" data-column="area">По площади</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="select__toggler">
                <div class="select__option select__option_desc select__sorting" data-sort="desc" data-column="area">По площади</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="select__toggler">
                <div class="select__option select__option_asc select__sorting" data-sort="asc" data-column="price">По цене</div>
            </label>
            <label>
                <input type="radio" name="catalog-select" class="select__toggler">
                <div class="select__option select__option_desc select__sorting" data-sort="desc" data-column="price">По цене</div>
            </label>
        </div>
    </div>