mixin social-networks
    <div class="social-networks">
        <a href="#" class="social-networks__link">
            <img src="/img/fb.svg" alt="фейсбук" class="social-networks__fb">
        </a>
        <a href="#" class="social-networks__link">
            <img src="/img/inst.svg" alt="инстаграм" class="social-networks__inst">
        </a>
        <a href="#" class="social-networks__link">
            <img src="/img/vk.svg" alt="вконтакте" class="social-networks__vk">
        </a>
    </div>