include ../header/header.pug
include ../contacts/contacts.pug

mixin footer
    <footer class="footer">
        +contacts
        +header("div")
        <div class="footer__privacy-policy">
            <div class="positioner footer__positioner">
                | © 2019 Все права защищены
                <span>Политика конфиденциальности</span>
            </div>
        </div>
    </footer>