.footer__positioner {
    display: flex;
    justify-content: space-between;
}

.footer__privacy-policy {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #8f8f8f;
    border-top: 2px solid #efefef;
}

@media screen and (max-width: 550px) {
    .footer .header {
        display: none;
    }
}