include ../room-card/room-card.pug

mixin catalog-rooms
    <article class="catalog-rooms">
        +room-card
        +room-card
        +room-card
        +room-card
        +room-card
        +room-card
    </article> 