.catalog-rooms {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (min-width: 1280px) {
    .catalog-rooms {
        justify-content: flex-start;
    }
}

.catalog-rooms__item {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .catalog-rooms__item {
        width: 49%;
    }
}

@media screen and (min-width: 1240px) {
    .catalog-rooms__item {
        width: 32%;
    }
}
    