include ../room-card/room-card.pug

mixin catalog-rooms
    <article class="catalog-rooms">
        +room-card("catalog-rooms__item")
        +room-card("catalog-rooms__item")
        +room-card("catalog-rooms__item")
        +room-card("catalog-rooms__item")
        +room-card("catalog-rooms__item")
        +room-card("catalog-rooms__item")
    </article> 