include ../room-card/room-card.pug

mixin catalog-rooms
    <div class="catalog-rooms">
        +room-card
        +room-card
        +room-card
        +room-card
        +room-card
        +room-card
    </div> 