mixin header(tag="header")
    <#{tag} class="positioner">
        <a href="/" class="logo">
            <img src="/img/logo.svg" alt="логотип">
        </a>
        <nav>
            <a href="#advantages">Почему мы?</a>
            <a href="#rooms">Номера</a>
            <a href="#reviews">Отзывы</a>
            <a href="#contacts">Как нас найти</a>
        </nav>
    </#{tag}>