mixin header(tag="header")
    <#{tag} class="positioner">
        <a href="/index.html" class="logo">
            <img src="/img/logo.svg" alt="логотип">
        </a>
        <nav>
            <a href="/index.html#advantages">Почему мы?</a>
            <a href="/catalog.html">Номера</a>
            <a href="/index.html#reviews">Отзывы</a>
            <a href="#contacts">Как нас найти</a>
        </nav>
    </#{tag}>