.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-bottom: auto;
    margin-top: auto;
}

.header__img {
    margin-left: 15px;
    margin-right: 10px;
    top: 50px;
    left: 105px;
}

.header__link {
    color: black;
    text-decoration: none;
    line-height: 76px;
    margin-left: 12px;
}