mixin header(tag="header")
    <#{tag} class="header positioner">
        <a href="/index.html" class="header__logo">
            <img src="/img/logo.svg" alt="логотип" class="header__img">
        </a>
        <label class="header__burger" for="header-burger"></label>
        <input type="checkbox" name="burger" class="header__burger-check" id="header-burger">
        <nav class="header__menu">
            <a href="/index.html#advantages" class="header__link" for="header-burger">Почему мы?</a>
            <a href="/catalog.html" class="header__link">Номера</a>
            <a href="/index.html#reviews" class="header__link">Отзывы</a>
            <a href="#contacts" class="header__link">Как нас найти</a>
        </nav>
    </#{tag}>