header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-bottom: auto;
    margin-top: auto;
}

.logo img:first-child {
    margin-left: 15px;
}

.logo img:last-child {
    margin-right: 10px;
    top: 50px;
    left: 105px;
}

nav a {
    color: black;
    text-decoration: none;
    line-height: 76px;
    margin-left: 12px;
}