include ../booking-button/booking-button.pug

mixin complete
    <div class="complete" id="complete">
        <div class="complete__booking">
            <a href="#">
                <div class="complete__close"></div>
            </a>
            <h2 class="complete__title_main">Спасибо за заявку!</h2>
            <p class="complete__notification">Мы свяжимся с Вами в ближайшее время</p>
            +booking-button("primary complete__button", "Ок")(href="#")
        </div>
    </div>
