.complete {
    display: none;
}

.complete:target {
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 12;
}

.complete__booking {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 43px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    background-color: white;
}

.complete__booking::after {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -45px;
    left: -45px;
    background-image: url("../booking/icons/paw\ \(1\).svg");
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    content: "";
}

.complete__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 18px;
    height: 18px;
}

.complete__title_main {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 25px;
}

.complete__notification {
    margin-left: 132px;
    margin-right: 132px;
    margin-bottom: 50px;
    padding: 0;
    font-size: 16px;
}

.complete__button {
    display: table;
    margin-left: auto;
    margin-right: auto;
}