include ../booking-button/booking-button.pug

mixin complete
    <div class="complete" id="complete">
        <div class="complete__booking">
            <a href="#">
                <img src="/img/close.svg" alt="закрыть" class="booking__close">
            </a>
            <h2 class="title title_booking">Спасибо за заявку!</h2>
            <p class="complete__notification">Мы свяжимся с Вами в ближайшее время</p>
            +booking-button("primary complete__button", "Ок")(href="#")
        </div>
    </div>
