.complete {
    display: none;
}

.complete:target {
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 12;
}

.complete__booking {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin-top: 8.547%;
    padding-top: 5.1282%;
    padding-bottom: 3.6752%;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    background-color: white;
}

@media screen and (min-width: 550px) {
    .complete__booking {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .complete__booking {
        width: 48%;
    }
}

.complete__booking::after {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -45px;
    left: -45px;
    background-image: url("../booking/icons/paw\ \(1\).svg");
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    content: "";
}

.complete__close {
    position: absolute;
    top: 7%;
    right: 7%;
    width: 4.5%;
    height: 4.5%;
}

.title_complete {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 4%;
}

.complete__notification {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7.7%;
    /* 132/50 */
    margin-top: 0;
    padding: 0;
    font-size: 0.85rem;
    text-align: center;
}

@media screen and (min-width: 376px) {
    .complete__notification {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 376px) {
    .complete__notification {
        font-size: 1rem;
    }
}

.complete__button {
    display: table;
    margin-left: auto;
    margin-right: auto;
}