.gallery {
    position: relative;
    width: 600px;
}

.gallery__toggler {
    display: none;
}

.gallery__images {
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery__list:not(:last-of-type) {
    margin-bottom: 30px;
}

.gallery__toggler:nth-of-type(1):checked ~ .gallery__images .gallery__list:nth-of-type(1),
.gallery__toggler:nth-of-type(2):checked ~ .gallery__images .gallery__list:nth-of-type(2), 
.gallery__toggler:nth-of-type(3):checked ~ .gallery__images .gallery__list:nth-of-type(3), 
.gallery__toggler:nth-of-type(4):checked ~ .gallery__images .gallery__list:nth-of-type(4),
.gallery__toggler:nth-of-type(4):checked ~ .gallery__images .gallery__list:nth-of-type(3) {
    margin-bottom: 0;
}

.gallery__img {
    height: 112px;
    width: 70px;
    opacity: 0.3;
    margin: 0 auto;
    transition: opacity 0.2s ease;
    border-radius: 8px;
    cursor: pointer;
}

.gallery__img:hover {
    opacity: 1;
}

.gallery__toggler:nth-of-type(1):checked ~ .gallery__images .gallery__list:nth-of-type(1) .gallery__img,
.gallery__toggler:nth-of-type(2):checked ~ .gallery__images .gallery__list:nth-of-type(2) .gallery__img, 
.gallery__toggler:nth-of-type(3):checked ~ .gallery__images .gallery__list:nth-of-type(3) .gallery__img,
.gallery__toggler:nth-of-type(4):checked ~ .gallery__images .gallery__list:nth-of-type(4) .gallery__img {
    position: absolute;
    left: calc(50% + 85px);
    top: 0;
    height: 100%;
    width: auto;
    transform: translateX(calc(-50% - 15px));
    max-width: calc(100% - 85px);
    margin-left: 15px;
    opacity: 1;
    cursor: auto;
}

