mixin gallery 
    <div class="gallery">
        <input type="radio" name="gallery" id="btn-7" class="toggler" checked>
        <input type="radio" name="gallery" id="btn-8" class="toggler">
        <input type="radio" name="gallery" id="btn-9" class="toggler">
        <input type="radio" name="gallery" id="btn-10" class="toggler">
        <ul class="images">
            <li>
                <label for="btn-7">
                    <img src="/img/drum.png", alt="барабанщик-легушька">
                </label>
            </li>
            <li>
                <label for="btn-8">
                    <img src="/img/nigga.jpg", alt="рэп-легушька">
                </label>
            </li>
            <li>
                <label for="btn-9">
                    <img src="/img/gentleman.jpg", alt="джентельмен-легушька">
                </label>
            </li>
            <li>
                <label for="btn-10">
                    <img src="/img/cowboy.jpeg", alt="ковбой-легушька">
                </label>
            </li>
        </ul>
    </div>