mixin gallery 
    <div class="gallery">
        <input type="radio" name="gallery" id="btn-4" class="gallery__toggler" checked>
        <input type="radio" name="gallery" id="btn-5" class="gallery__toggler">
        <input type="radio" name="gallery" id="btn-6" class="gallery__toggler">
        <input type="radio" name="gallery" id="btn-7" class="gallery__toggler">
        <ul class="gallery__images">
            <li class="gallery__list">
                <label for="btn-4">
                    <img src="/img/drum.png", alt="барабанщик-легушька" class="gallery__img gallery__frog_drum">
                </label>
            </li>
            <li class="gallery__list">
                <label for="btn-5">
                    <img src="/img/nigga.jpg", alt="рэп-легушька" class="gallery__img gallery__frog_nigga">
                </label>
            </li>
            <li class="gallery__list">
                <label for="btn-6">
                    <img src="/img/gentleman.jpg", alt="джентельмен-легушька" class="gallery__img gallery__frog_gentleman">
                </label>
            </li>
            <li class="gallery__list">
                <label for="btn-7">
                    <img src="/img/cowboy.jpeg", alt="ковбой-легушька" class="gallery__img gallery__frog_cowboy">
                </label>
            </li>
        </ul>
    </div>