*, *::before, *::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: "Lato", sans-serif;
    color: black;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: "Rubik", sans-serif;
}

img {
    max-width: 100%;
}
.positioner {
    width: 86.7%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.positioner_narrow {
    width: 79.318%;
}
.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin-bottom: auto;
    margin-top: auto;
}

.header__img {
    margin-left: 15px;
    margin-right: 10px;
    top: 50px;
    left: 105px;
}

.header__link {
    color: black;
    text-decoration: none;
    line-height: 76px;
    margin-left: 12px;
}
.banner {
    background-size: cover;
    background-image: url(/koteyka/images/components/banner//cat-8b7234a99271c8d7384b2878f922cfd0.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.banner__info {
    display: block;
    padding-top: 11.3417%;
    padding-bottom: 11.3417%;
}

.banner__city {
    font-size: 0.875rem;
    margin-bottom: 15px;
}

.banner__desc {
    margin-top: 25px;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner__button {
    margin-top: 40px;
}
.title {
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

.title_2,
.title_booking {
    text-align: center;
}

.title_1 {
    font-size: 3.875rem;
}

.title_2 {
    font-size: 2.25rem;
}

.title_3 {
    font-size: 1.375rem;
}

.title_booking {
    font-size: 1.75rem;
    margin-bottom: 50px;
}
.advantages {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.advantages .positioner {
    position: relative;
}

.advantages .positioner::before {
    position: absolute;
    top: -150px;
    right: -150px;
    width: 410px;
    height: 385px;
    background-image: url(/koteyka/images/components/advantages/icons//background-lapa-7975a34cd7760464b6839e522b8639fb.svg);
    background-repeat: no-repeat;
    content: "";    
}

.title__advantages {
    margin-top: 140px;
    white-space: pre-wrap;
}

.advantages__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 50px;
}

.advantages__list {
    position: relative;
    width: 31.6239316%;
    margin-top: 20px;
    padding: 121px 2.5641% 30px;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 30px 30px;
}

.title.title_3 {
    margin-bottom: 20px;
    margin-top: 35px;
}

.advantages__desc {
    width: 90%;
    margin: 0;
    padding: 0;
}

.advantages__temperature {
    background-image: url(/koteyka/images/components/advantages/icons//temperature-92130f216e3e0fd200b14c9e8b2666ba.svg);
}

.advantages__video {
    background-image: url(/koteyka/images/components/advantages/icons//video-6f0105f397a7074150b51612d8fdd9ba.svg);
}

.advantages__taxi {
    background-image: url(/koteyka/images/components/advantages/icons//taxi-d408477b94815d0f63d55f03a8bd8df1.svg);
}

.advantages__food {
    background-image: url(/koteyka/images/components/advantages/icons//food-6a4d57d89ad93bf1982138745e138790.svg);
}

.advantages__walk {
    background-image: url(/koteyka/images/components/advantages/icons//walk-397e6bec88be2343e1dacec725aa671b.svg);
}

.advantages__veterinarian {
    background-image: url(/koteyka/images/components/advantages/icons//veterinarian-e205549374bdd52179a3d290ca44ea59.svg);
}
.rooms {
    position: relative;
    margin-top: 11.965812%;
    overflow: hidden;
    padding-bottom: 1.7094171%;
}

.rooms::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/koteyka/images/components/rooms/icons//fish-d94c6ca25a8c694fa88c0db671ad4b37.svg);
    background-repeat: no-repeat;
    width: 610px;
    height: 151px;
    opacity: 0.1;
    content: "";
}

.title__rooms {
    margin-bottom: 5.9829%;
}

.rooms__list {
    display: flex;
    width: 300%;
    transition: transform 1s ease;
    margin: 0;
    padding: 0;
    list-style: none;
}

.rooms__room {
    display: flex;
    width: 100%;
    align-items: center;
}

.rooms__img-container {
    width: 53.3333333%;
    margin-left: 14.3712%; 
}

.rooms__img {
    border-radius: 10px;
}

.rooms__info {
    width: 38.85%;
    padding-left: 8.54700855%;
    margin-left: -7.6923%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.title__room {
    margin-top: 2.99145%;
}

.rooms__ul {
    padding: 0;
    margin-top: 2.5641%;
    margin-bottom: 0;
}

.rooms__item {
    position: relative;
    padding-left: 5.9322%;
    padding-bottom: 5.6497%;
    margin: 0;
    list-style: none;
}

.rooms__item::before {
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fac663;
    content: "";
}

.rooms__booking-button {
    margin: 10px 0 40px 0;
}
.reviews {
    position: relative;
    padding-top: 11.111111%;
    overflow-x: hidden;
}

.reviews__positioner {
    position: relative;
    padding-bottom: 2.735%;
}

.reviews__positioner::before {
    position: absolute;
    top: -31.8119%;
    right: -11.1111111%;
    background-image: url(/koteyka/images/components/reviews/icons//background-lapa-2-4349a3cddd67db3b4b384501b4645182.svg);
    background-repeat: no-repeat;
    width: 350px;
    height: 350px;
    content: "";
}

.title__reviews {
    margin-bottom: 5.9829%;
}

.reviews__review {
    display: flex;
    /* 
    100% - ширина позиционера
    100вв - ширина окна
    16пкс - ширина вертикальной прокртуки
    */
    width: calc(100% + (100vw - 100%) / 2);
    transition: transform 1s ease;
}

.reviews__info {
    flex-shrink: 0;
    padding-left: 2.77%;
    padding-top: 2.77%;
    margin-right: 2.4%;
    margin-bottom: 4.35%;
    padding-right: 3%;
    width: 37.0662%;
    background-color: white;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    border-radius: 8px;
}

.reviews__quote {
    position: relative;
    margin: 0;
    padding-left: 8.85%;
}

.reviews__quote::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 25px;
    background-image: url(/koteyka/images/components/reviews/icons//“-cfa37e05106380344672afbe366a690c.svg);
    background-repeat: no-repeat;
    content: "";
}

.reviews__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 35px;
    font-size: 0.875rem;
    color: #848484;
}
.footer__positioner {
    display: flex;
    justify-content: space-between;
}

.footer__privacy-policy {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    color: #8f8f8f;
    border-top: 2px solid #efefef;
}
.room-info {
    position: relative;
    max-width: 100%;
    padding-top: 70px;
    overflow: hidden;
}

.room-info__container {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.room-info__container::after {
    position: absolute;
    top: -50px;
    display: inline-block;
    right: -130px;
    width: 251px;
    height: 285px;
    background-image: url(/koteyka/images/components/room-info/icons//background-lapa-3-6f21b922021a66fe4c283ad2b10e5df3.svg);
    background-repeat: no-repeat;
    content: "";
}

.room-info__about {
    margin-left: 70px;
}

.title__room-info {
    margin-bottom: 22px;
}

.room-info__text {
    margin: 0;
    margin-top: 17px;
    padding: 0;
}

.room-info__text:last-of-type {
    margin-top: 24px;
    margin-bottom: 30px;
}

.room-info__features {
    margin: 0;
    margin-top: 13px;
    padding: 0;
    list-style: none;
}

.room-info__list {
    position: relative;
    padding-left: 20px;
    margin-top: 9px;
}

.room-info__price {
    margin-left: 12px;
    font-size: 1.125rem;
    font-weight: bold;
}

.room-info__title_main,
.room-info__text,
.room-info__list {
    color: #1a212f;
}

.room-info__list::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: "";
}

.room-info__lounger::before {
    background-image: url(/koteyka/images/components/room-info/icons//lounger-a294493d99ec9701cccd18aecfe1c6d0.svg);
}

.room-info__house::before {
    background-image: url(/koteyka/images/components/room-info/icons//house-3101f017a574ede0b1621039a97875fe.svg);
}

.room-info__game-complex::before {
    background-image: url("/koteyka/images/components/room-info/icons//game complex-e3ef668b988fb74c9a31a855feef9a0c.svg");
}

.room-info__scratching-post::before {
    background-image: url("/koteyka/images/components/room-info/icons//scratching post-8b73f8a81605ad3d025aab1e666d1e42.svg");
}


.gallery {
    position: relative;
    width: 600px;
}

.gallery__toggler {
    display: none;
}

.gallery__images {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.gallery__list:not(:last-of-type) {
    margin-bottom: 30px;
}

.gallery__toggler:nth-of-type(1):checked ~ .gallery__images .gallery__list:nth-of-type(1),
.gallery__toggler:nth-of-type(2):checked ~ .gallery__images .gallery__list:nth-of-type(2), 
.gallery__toggler:nth-of-type(3):checked ~ .gallery__images .gallery__list:nth-of-type(3), 
.gallery__toggler:nth-of-type(4):checked ~ .gallery__images .gallery__list:nth-of-type(4),
.gallery__toggler:nth-of-type(4):checked ~ .gallery__images .gallery__list:nth-of-type(3) {
    margin-bottom: 0;
}

.gallery__img {
    height: 112px;
    width: 70px;
    opacity: 0.3;
    margin: 0;
    transition: opacity 0.2s ease;
    border-radius: 8px;
    cursor: pointer;
}

.gallery__img:hover {
    opacity: 1;
}

.gallery__toggler:nth-of-type(1):checked ~ .gallery__images .gallery__list:nth-of-type(1) .gallery__img,
.gallery__toggler:nth-of-type(2):checked ~ .gallery__images .gallery__list:nth-of-type(2) .gallery__img, 
.gallery__toggler:nth-of-type(3):checked ~ .gallery__images .gallery__list:nth-of-type(3) .gallery__img,
.gallery__toggler:nth-of-type(4):checked ~ .gallery__images .gallery__list:nth-of-type(4) .gallery__img {
    position: absolute;
    left: calc(50% + 85px);
    top: 0;
    height: 100%;
    width: auto;
    transform: translateX(calc(-50% - 15px));
    max-width: calc(100% - 85px);
    margin-left: 15px;
    opacity: 1;
    cursor: auto;
}


.select {
    position: relative;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18); 
}

.select:focus {
    outline: none;
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18); 
    z-index: 10;
}

.select:focus .select__options .select__option {
    display: block;
}

.select,
.select__option {
    border-radius: 25px;
    transition: border-radius 0.1s ease;
}

.select:focus,
.select:focus .select__option {
    border-radius: 0;
}

.select::after {
    position: absolute;
    top: 19px;
    right: 20px;
    width: 15px;
    height: 10px;
    background-image: url(/koteyka/images/components/catalog-select/icons//select-inactive-bac7c2595918fc2c2c56998a3b7c8fb6.svg);
    background-repeat: no-repeat;
    transition: transform 0.2s linear;
    transform-origin: center;
    z-index: 3;
    content: "";
}

.select:focus::after {
    transform: rotate(180deg) translateY(2px);
}

.select__option {
    position: relative;
    display: none;
    padding: 12px 55px 13px 30px;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    background-position: 20px 17px;
    background-repeat: no-repeat;
}

.select__option_no-chosen {
    display: block;
}

.select__option:hover {
    background-color: lightgray;
}

.select__option_desc {
    background-image: url(/koteyka/images/components/catalog-select/icons//arrow-down-b8ce08c9d3585fbc908f7e33983510c9.svg);
}

.select__option_asc {
    background-image: url(/koteyka/images/components/catalog-select/icons//arrow-up-a403b2d20b0eed9f1be6d0d874acde77.svg);
}

.select__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: inherit; 
    z-index: 2;
}

.select__toggler {
    display: none;
}

.select__toggler:checked + .select__option {
    position: absolute;
    bottom: 100%;
    left: 0;
    display: block;
}

.catalog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    margin-top: 60px;
}

.title__catalog-header {
    margin: auto 0;
}


.filter {
    margin-right: 90px;
}

.filter__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter__price {
    margin-bottom: 35px;
}

.filter__name {
    margin: 0;
    padding: 0;
    width: 215px;
    font-weight: bold;
}

.filter__price_min,
.filter__price_max {
    width: 100px;
    height: 24px;
    margin-right: 10px;
    margin-top: 20px;
    outline: none;
}

.filter__price_max {
    margin: 0;
}

.filter__buttons {
    display: flex;
    flex-direction: column;
}

.filter__apply,
.filter__reset {
    width: 185px;
    margin-top: 15px;
    border: 2px solid #FAC663;
    outline: none;
    font-size: 0.875rem;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.filter__reset {
    padding: 15px 30px 16px 30px;
}

.filter__apply {
    margin-top: 20px;
    background-color: #FAC663;
    padding: 15px 36px 16px 36px;
}

.filter__reset:hover {
    background-color: #ffcd70;
    color: white;
}


.checkbox {
    display: table;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.checkbox__area:checked + span::before {
    background-image: url(/koteyka/images/components/checkbox/icons//check-968fb6e5ea7fc7668476f1adab730255.svg);
    background-repeat: no-repeat;
    background-position: 4px 5px;
    content: "";
}

.checkbox__area {
    display: none;
}

.checkbox__value::before {
    display: inline-block; 
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: top;
    border: 1px solid #e1e1e1;
    content: "";
}

.room-option {
    display: inline-block;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.room-option:not(:nth-of-type(3n)) {
    margin-right: 24px;
}

.room-option__cat {
    display: block;
    margin: -1px;
    margin-bottom: 20px;
}

.room-option__card-info {
    padding-left: 20px;
    padding-bottom: 25px;
}

.room-option__title {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
}

.room-option__key,
.room-option__value {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 0.875rem;
}

.room-option__info  {
    margin-bottom: 11px;
    margin-top: 0;
}

.room-option__value_img {
    padding-right: 6px;
}

.room-option__value_img:first-of-type {
    margin-left: 12px;
}

.room-option__price {
    margin-bottom: 25px;
    margin-top: 0;
}

.room-option__text_bold {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.room-option__booking-button {
    width: calc(100% - 20px);
}

.container {
    display: flex;
}
.banner-2 {
    position: relative;
    height: 379px;
    margin-top: 140px;
    margin-bottom: 140px;
    padding-top: 66px;
    background-image: url(/koteyka/images/components/banner-2//banner-2-9a3385bf0dedfdccebb67b936e604f4e.jpg);
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
}

.banner-2::before {
    position: absolute;
    left: -20px;
    top: -30px;
    width: 240px;
    height: 240px;
    padding: auto;
    background-image: url(/koteyka/images/components/banner-2/icons//paw-banner-89dfec42cdf3b3a7719e4f2ab5da028b.svg);
    background-repeat: no-repeat;
    content: "";
}

.banner-2__info {
    margin-left: 270px;
}

.title__banner-2 {
    text-align: left;
}

.banner-2__free-day {
    display: block;
    font-size: 3.5rem;
    margin: 0;
    line-height: 0.85;
    padding: 0;
}

.banner-2__stock {
    width: 260px;
    margin-top: 25px;
    margin-bottom: 0;
    padding: 0;
}

.banner-2__booking-button {
    margin-top: 35px;
}
.booking {
    display: none;
}

.booking:target {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 11;
}

.booking__room-reservation {
    position: relative;
    display: inline-block;
    margin-top: 100px;
    padding: 70px;
    border-radius: 10px;
    background-color: white;
    background-image: url("/koteyka/images/components/booking/icons//paw (1)-ea5bc1fe99bcff081d4743a85fdd6126.svg");
    background-position: -45px -45px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.booking__close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 40px;
    right: 40px;
}

.booking__input,
.booking__date {
    display: block;
    width: 430px;
    margin-bottom: 20px;
    padding: 16px 20px;
    border: 1px solid #D7D7D7;
    border-radius: 25px;
    outline: none;
}

.booking__arrival,
.booking__date-from,
.booking__date-to {
    display: inline-block;
}

.booking__duration {
    display: block;
    margin-bottom: 50px;
}

.booking__date {
    display: inline-block;
    margin: 0;
    width: 134px;
    font-size: 1.1428rem;
}

.booking__date-from,
.booking__date-to {
    position: relative;
}

.booking__date-from {
    padding-left: 35px;
}

.booking__date-to {
    padding-left: 31px;
}

.booking__date-from::before {
    position: absolute;
    top: 17px;
    left: 20px;
    content: "с";
}

.booking__date-to::before {
    position: absolute;
    top: 17px;
    left: 5px;
    content: "до";
}

.booking__date {
    padding: 15px 16px;
}

 .booking__send {
    display: table;
    margin-left: auto;
    margin-right: auto;
 }
.booking-button {
    position: relative;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 63px;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
    box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
    background-color: #ffffff;
    cursor: pointer;
}

.booking-button::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7px;
    display: inline-block;
    width: 36px;
    height: 36px;
    background-color: #ff7236;
    background-image: url(/koteyka/images/components/booking-button/icons//lapa-91edaa9306e5910ab5702b8c22577135.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    content: "";
}

.booking-button.primary {
    background-color: #FF7236;
    box-shadow: none;
    color: #fff;
}

.booking-button.primary::after {
    background-color: #ffffff;
    background-image: url(/koteyka/images/components/booking-button/icons//paw-203171d8e0d540b651cbb55f8780e5e4.svg);
}
.complete {
    display: none;
}

.complete:target {
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 12;
}

.complete__booking {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 43px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    background-color: white;
}

.complete__booking::after {
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -45px;
    left: -45px;
    background-image: url("/koteyka/images/components/booking/icons//paw (1)-ea5bc1fe99bcff081d4743a85fdd6126.svg");
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    content: "";
}

.complete__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 18px;
    height: 18px;
}

.complete__title_main {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-bottom: 25px;
}

.complete__notification {
    margin-left: 132px;
    margin-right: 132px;
    margin-bottom: 50px;
    padding: 0;
}

.complete__button {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.contacts {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    background-color: #fac663; 
}

.contacts__content {
    padding: 60px 93px 60px 186px; 
}

.title__contacts {
    margin-bottom: 50px;
}

.contacts__key {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
}

.contacts__value {
    margin-top: 0;
    margin-bottom: 35px;
    margin-left: 0;    
}

.contacts__map {
    position: relative;
    margin-left: 13px;
}

.contacts__map::after {
    position: absolute;
    top: 255px;
    left: 245px;
    width: 64px;
    height: 116px;
    background-image: url(/koteyka/images/components/contacts/icons//position-2dc3afe967c4e64647c410aa9cf96658.svg);
    background-repeat: no-repeat;
    z-index: 1;
    content: "";
}

.contacts__map-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.social-networks__link {
    margin-right: 20px;
    text-decoration: none;
}
.slider.positioner {
    position: relative;
}

.slider__toggler {
    display: none;
}

.slider__button { 
    position: absolute;
    bottom: 20px;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    border: none;
    color: #ff7236;
    font-weight: bold;
    box-shadow: 0px 0px 25px rgba(161, 161, 161, 0.25);
    cursor: pointer;
}

.slider__button_next {
    left: 94.017%;
}

.slider__button_prev {
    left: 89.6581%;
}

.slider__radio-button {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.slider__label {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin-right: 12px;
    cursor: pointer;
}

.slider__toggler[name="rooms"]:nth-child(1):checked ~ .slider__list {
    transform: translate(0);
}

.slider__toggler[name="rooms"]:nth-child(2):checked ~ .slider__list {
    transform: translate(-34%);
}

.slider__toggler[name="rooms"]:nth-child(3):checked ~ .slider__list {
    transform: translate(-67%);
}

.slider__toggler[name="reviews"]:nth-child(1):checked ~ .slider__list {
    transform: translate(0);
}

.slider__toggler[name="reviews"]:nth-child(2):checked ~ .slider__list {
    transform: translate(-12.5641%);
}

.slider__toggler[name="reviews"]:nth-child(3):checked ~ .slider__list {
    transform: translate(-25.1282%);
}

.slider__toggler:nth-child(1):checked ~ .slider__radio-button .slider__label_btn-1,
.slider__toggler:nth-child(2):checked ~ .slider__radio-button .slider__label_btn-2,
.slider__toggler:nth-child(3):checked ~ .slider__radio-button .slider__label_btn-3 {
    background-color: #ff7236;
}

