include ../booking-button/booking-button.pug

mixin booking 
    <div id="booking" class="booking">
        <form class="booking__room-reservation">
            <a href="#">
                <img src="/img/close.svg" alt="закрыть" class="booking__close">
            </a>
            <h2 class="title title_booking">Забронировать номер</h2>
            <input type="text" class="booking__input booking__name" placeholder="Ваше имя" required>
            <input type="text" class="booking__input booking__pet-name" placeholder="Имя Питомца" required>
            <input type="tel" class="booking__input booking__tel" placeholder="Телефон" required>
            <input type="email" class="booking__input booking__email" placeholder="E-mail" required>
            <div class="booking__duration">
                <p class="booking__arrival">Дата заезда</p>
                <div class="booking__date-from">
                    <input type="date" class="booking__date">
                </div>
                <div class="booking__date-to">
                    <input type="date" class="booking__date">
                </div>
            </div>
            <div class="booking__send">
                +booking-button("primary", "Отправить заявку")(href="#complete")
            </div>
        </form>
    </div> 