.booking {
    display: none;
}

.booking:target {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 11;
}

.booking__room-reservation {
    position: relative;
    display: inline-block;
    margin-top: 100px;
    padding: 70px;
    border-radius: 10px;
    background-color: white;
    background-image: url("./icons/paw\ \(1\).svg");
    background-position: -45px -45px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.booking__close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 40px;
    right: 40px;
}

.booking__input,
.booking__date {
    display: block;
    width: 430px;
    margin-bottom: 20px;
    padding: 16px 20px;
    border: 1px solid #D7D7D7;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}

.booking__arrival,
.booking__date-from,
.booking__date-to {
    display: inline-block;
}

.booking__duration {
    display: block;
    margin-bottom: 50px;
}

.booking__date {
    display: inline-block;
    margin: 0;
    width: 134px;
    font-size: 16px;
}

.booking__date-from,
.booking__date-to {
    position: relative;
}

.booking__date-from {
    padding-left: 35px;
}

.booking__date-to {
    padding-left: 31px;
}

.booking__date-from::before {
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 16px;
    content: "с";
}

.booking__date-to::before {
    position: absolute;
    top: 17px;
    left: 5px;
    font-size: 16px;
    content: "до";
}

.booking__date {
    padding: 15px 16px;
}

 .booking__send {
    display: table;
    margin-left: auto;
    margin-right: auto;
 }