mixin advantages
    <div class="advantages" id="advantages">
        <div class="positioner">
            <h2  class="advantages__title_main">Почему мы?</h2>
            <ul class="advantages__ul">
                <li class="advantages__list advantages__temperature">
                    <h3 class="advantages__title">Комфортая температура</h3>
                    <p class="advantages__desc">
                        | Во всех номерах поддерживается комфортная температура в пределах
                        | 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
                    </p> 
                </li> 
                <li class="advantages__list advantages__video">
                    <h3 class="advantages__title">Видеонаблюдение</h3>
                    <p class="advantages__desc">
                        | Мы предоставляем доступ в нашу систему. Вы сможете следить
                        | за своим питомцем со своего смартфона или компьютера.
                    </p> 
                </li>
                <li class="advantages__list advantages__taxi">
                    <h3 class="advantages__title">Услуги зоотакси</h3>
                    <p class="advantages__desc">
                        | Мы приедем за вашим питомцем в любой район Санкт-Петербурга.
                    </p> 
                </li>  
                <li class="advantages__list advantages__food">
                    <h3 class="advantages__title">Сбалансированое питание</h3>
                    <p class="advantages__desc">
                        | Вы можете привезти свой корм
                        | или доверить рацион своего
                        | питомца нашим профессионалам.
                    </p> 
                </li>  
                <li class="advantages__list advantages__walk">
                    <h3 class="advantages__title">Ежедневные прогулки</h3>
                    <p class="advantages__desc">
                        | По вашему желанию мы выгуливаем вашего питомца два раза в день
                        | на специализированной закрытой территории.
                    </p> 
                </li>  
                <li class="advantages__list advantages__veterinarian">
                    <h3 class="advantages__title">Лучшие ветеринары</h3>
                    <p class="advantages__desc">
                        | В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.
                    </p> 
                </li>   
            </ul>
        </div>
    </div>