.advantages {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.advantages .positioner {
    position: relative;
}

.advantages .positioner::before {
    position: absolute;
    top: -150px;
    right: -150px;
    width: 410px;
    height: 385px;
    background-image: url("./icons/background-lapa.svg");
    background-repeat: no-repeat;
    content: "";    
}

.advantages__title_main {
    margin: 140px 0 50px 0;
    padding: 0;
    font-size: 36px;
    text-align: center;
}

.advantages__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.advantages__list {
    position: relative;
    width: 370px;
    margin-top: 20px;
    padding: 153px 30px 30px;
    list-style: none;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 30px 30px;
}

.advantages__title {
    margin-bottom: 20px;
    margin-top: 0;
}

.advantages__desc {
    width: 90%;
    margin: 0;
    padding: 0;
}

.advantages__temperature {
    background-image: url("./icons/temperature.svg");
}

.advantages__video {
    background-image: url("./icons/video.svg");
}

.advantages__taxi {
    background-image: url("./icons/taxi.svg");
}

.advantages__food {
    background-image: url("./icons/food.svg");
}

.advantages__walk {
    background-image: url("./icons/walk.svg");
}

.advantages__veterinarian {
    background-image: url("./icons/veterinarian.svg");
}