mixin advantages
    <div class="advantages" id="advantages">
        <div class="positioner">
            <h2>Почему мы?</h2>
            <ul>
                <li class="temperature">
                    <h3>Комфортая температура</h3>
                    <p>
                        | Во всех номерах поддерживается комфортная температура в пределах
                        | 23 - 25 градусов. В каждом номере можно дополнительно отрегулировать температуру.
                    </p> 
                </li> 
                <li class="video">
                    <h3>Видеонаблюдение</h3>
                    <p>
                        | Мы предоставляем доступ в нашу систему. Вы сможете следить
                        | за своим питомцем со своего смартфона или компьютера.
                    </p> 
                </li>
                <li class="taxi">
                    <h3>Услуги зоотакси</h3>
                    <p>
                        | Мы приедем за вашим питомцем в любой район Санкт-Петербурга.
                    </p> 
                </li>  
                <li class="food">
                    <h3>Сбалансированое питание</h3>
                    <p>
                        | Вы можете привезти свой корм
                        | или доверить рацион своего
                        | питомца нашим профессионалам.
                    </p> 
                </li>  
                <li class="walk">
                    <h3>Ежедневные прогулки</h3>
                    <p>
                        | По вашему желанию мы выгуливаем вашего питомца два раза в день
                        | на специализированной закрытой территории.
                    </p> 
                </li>  
                <li class="veterinarian">
                    <h3>Лучшие ветеринары</h3>
                    <p>
                        | В гостинице 24 часа дежурит ветеринарный врач, который окажет любую помощь в случае необходимости.
                    </p> 
                </li>   
            </ul>
        </div>
    </div>