include ../catalog-filter/catalog-filter.pug
include ../catalog-rooms/catalog-rooms.pug

mixin catalog-container
    <div class="positioner container">
        +catalog-filter
        +catalog-rooms
    </div>