@font-face {
    font-family: "Lato";
    font-weight: normal;
    font-style: normal;
    src: url("Lato-Regular.ttf") format("woff2");
}

@font-face {
    font-family: "Lato";
    font-weight: bold;
    font-style: normal;
    src: url("Lato-Bold.ttf") format("woff2");
}