.rooms {
    position: relative;
    width: 100%;
    margin-top: 6%;
    padding-bottom: 1.7094171%;
}

.rooms::before {
    position: absolute;
    top: -20px;
    left: 0;
    height: 151px;
    transform: scale(0.7);
    transform-origin: left;
    background-image: url("./icons/fish.svg");
    background-repeat: no-repeat;
    opacity: 0.1;
    content: "";
}

@media screen and (min-width: 426px) {
    .rooms::before {
        transform: scale(0.8);
        top: -15px;
    }
}

@media screen and (min-width: 550px) {
    .rooms::before {
        transform: scale(1);
        top: 0;
    }
}

.rooms__positioner {
    position: relative;
    overflow: hidden;
}

.title__rooms {
    color: black;
    text-decoration: none;
    margin-bottom: 5%;
}

.rooms__list {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 300%;
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
    list-style: none;
    --offset: 100%;
}

.rooms__room {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

@media screen and (min-width: 665px) {
    .rooms__room {
        flex-wrap: nowrap;
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

.rooms__img-container {
    width: 90%;
    min-height: 44%;
}

.rooms__img {
    border-radius: 10px 10px 0 0;
    min-width: 288px;
}

@media screen and (min-width: 665px) {
    .rooms__img {
        border-radius: 10px;
        transform-origin: none;
    }
}

.rooms__info {
    width: 90%;
    padding-left: 5.5%;
    padding-top: 3%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

@media screen and (min-width: 665px) {
    .rooms__info {
        width: 70%;
        border-radius: 10px;
        margin-left: -5%;
        padding-left: 6.54700855%;
        transform: scale(0.9);
    }
}

@media screen and (min-width: 800px) {
    .rooms__info {
        transform: scale(1);
    }
}

.rooms__ul {
    padding: 0;
    margin-top: 2.5641%;
    margin-bottom: 0;
}

.rooms__item {
    position: relative;
    padding-left: 7%;
    padding-bottom: 3%;
    margin: 0;
    list-style: none;
}

.rooms__item::before {
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--main-color-400);
    content: "";
}

.rooms__booking-button {
    margin: 10px 0 20px 0;
}