.rooms {
    position: relative;
    margin-top: 11.965812%;
    overflow: hidden;
    padding-bottom: 1.7094171%;
}

.rooms::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./icons/fish.svg");
    background-repeat: no-repeat;
    width: 610px;
    height: 151px;
    opacity: 0.1;
    content: "";
}

.title__rooms {
    margin-bottom: 5.9829%;
}

.rooms__list {
    display: flex;
    width: 300%;
    transition: transform 1s ease;
    margin: 0;
    padding: 0;
    list-style: none;
}

.rooms__room {
    display: flex;
    width: 100%;
    align-items: center;
}

.rooms__img-container {
    width: 53.3333333%;
    margin-left: 14.3712%; 
}

.rooms__img {
    border-radius: 10px;
}

.rooms__info {
    width: 38.85%;
    padding-left: 8.54700855%;
    margin-left: -7.6923%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.title__room {
    margin-top: 2.99145%;
}

.rooms__ul {
    padding: 0;
    margin-top: 2.5641%;
    margin-bottom: 0;
}

.rooms__item {
    position: relative;
    padding-left: 5.9322%;
    padding-bottom: 5.6497%;
    margin: 0;
    list-style: none;
}

.rooms__item::before {
    position: absolute;
    top: 3px;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fac663;
    content: "";
}

.rooms__booking-button {
    margin: 10px 0 40px 0;
}