include ../booking-button/booking-button.pug
include ../slider/slider.pug

mixin rooms(title)
    <section class="rooms positioner" id="rooms">
        <h2 class="title title__rooms title_2">#{title}</h2>
        +slider("rooms")
            <ul class="rooms__list slider__list">
                <li class="rooms__room">
                    <div class="rooms__img-container">
                        <img src="/img/room-1.jpg" alt="Эконом плюс" class="rooms__img">
                    </div>
                    <section class="rooms__info">
                        <h3 class="title title__rooms title_3">Эконом плюс</h3>
                        <ul class="rooms__ul">
                            <li class="rooms__item">
                                | Площадь - 0,90 м2
                            </li>
                            <li class="rooms__item">
                                | Размеры (ШхГхВ) - 90х100х180 см
                            </li>
                            <li class="rooms__item">
                                | Цена за сутки: 200р.
                            </li>
                        </ul>
                        +booking-button("primary rooms__booking-button")
                    </section>
                </li>
                <li class="rooms__room">
                    <div class="rooms__img-container">
                        <img src="/img/room-2.jpg" alt="Люкс" class="rooms__img">
                    </div>
                    <section class="rooms__info">
                        <h3 class="title title__rooms title_3">Люкс</h3>
                        <ul class="rooms__ul">
                            <li class="rooms__item">
                                | Площадь - 1,5 м2
                            </li>
                            <li class="rooms__item">
                                | Размеры (ШхГхВ) - 90х60х90 см
                            </li>
                            <li class="rooms__item">
                                | Цена за сутки: 100р.
                            </li>
                        </ul>
                        +booking-button("primary rooms__booking-button")
                    </section>
                </li>
                <li class="rooms__room">
                    <div class="rooms__img-container">
                        <img src="/img/room-3.jpg" alt="Президентский" class="rooms__img">
                    </div>
                    <section class="rooms__info">
                        <h3 class="title title__rooms title_3">Президентский</h3>
                        <ul class="rooms__ul">
                            <li class="rooms__item">
                                | Площадь - 2,28 м2
                            </li>
                            <li class="rooms__item">
                                | Размеры (ШхГхВ) - 228х228х228 см
                            </li>
                            <li class="rooms__item">
                                | Цена за сутки: 200$.
                            </li>
                        </ul>
                        +booking-button("primary rooms__booking-button")
                    </section>
                </li>
            </ul>
    </section>