.rooms {
    margin-top: 140px;
}

.rooms .positioner {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.rooms .positioner::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./icons/fish.svg");
    background-repeat: no-repeat;
    width: 484px;
    height: 151px;
    opacity: 0.1;
    content: "";
}

.rooms .positioner input {
    display: none;
}

.positioner .left,
.positioner .right { 
    position: absolute;
    bottom: 20px;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    border: none;
    color: #ff7236;
    font-weight: bold;
    box-shadow: 0px 0px 25px rgba(161, 161, 161, 0.25);
    cursor: pointer;
}

.positioner .right {
    left: 1100px;
}

.positioner .left {
    left: 1049px;
}

.rooms .positioner h2 {
    margin: 0 0 70px 0;
    padding: 0;
    text-align: center;
}

.rooms .positioner .slide {
    display: flex;
    width: 300%;
    transition: transform 1s ease;
}

.rooms .positioner .room {
    display: flex;
    align-items: center;
}

.rooms .positioner .room img {
    width: 600px;
    height: 404px;
    border-radius: 10px;
    margin-left: 168px;
}

.room .info {
    margin-left: -70px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
}

.room .info h3 {
    padding-left: 100px;
    padding-top: 40px; 
    margin: 0;
}

.room .info ul {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0;
}

.room .info ul li {
    position: relative;
    padding-right: 80px;
    padding-left: 121px;
    padding-bottom: 20px;
    margin: 0;
    list-style: none;
}

.room .info ul li::before {
    position: absolute;
    top: 3px;
    left: 100px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fac663;
    content: "";
}

.rooms .booking-button {
    margin: 10px 0 40px 100px;
}

.rooms .positioner .radio-button {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.rooms .positioner label {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin-right: 12px;
    cursor: pointer;
}

#btn-1:checked ~ .slide {
    transform: translate(0);
}

#btn-2:checked ~ .slide {
    transform: translate(-1170px);
}

#btn-3:checked ~ .slide {
    transform: translate(-2340px);
}

#btn-1:checked ~ .radio-button label[for="btn-1"],
#btn-2:checked ~ .radio-button label[for="btn-2"],
#btn-3:checked ~ .radio-button label[for="btn-3"] {
    background-color: #ff7236;
} 