.checkbox {
    display: table;
    margin-bottom: 15px;
    cursor: pointer;
    margin-top: 20px;
}

.checkbox__area:checked + span::before {
    background-image: url("./icons/check.svg");
    background-repeat: no-repeat;
    background-position: 4px 5px;
    content: "";
}

.checkbox__area {
    display: none;
}

.checkbox__value::before {
    display: inline-block; 
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: top;
    border: 1px solid #e1e1e1;
    content: "";
}
